.DS_Store
.env
.hg
.idea
.sass-cache
.svn

*.cfg
*.dmp
*.log
*.css.map
*.js.map
*.sublime-*
*.tmp


_notes
assets/bower_components
logs
node_modules
cache
cgi-bin
media
resources
desktop.ini
npm-debug.*
sftp-*.json
Thumbs.db

public/test
test.*

secret_key
config
public/games